# Application
PORT=3000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=pix_payment

# TypeORM
# Set to true in development to auto-create/update tables (never in prod)
TYPEORM_SYNCHRONIZE=true
TYPEORM_LOGGING=true

# Webhook
WEBHOOK_SECRET=change-me-to-a-strong-random-secret
